---
export const getStaticPaths = () => {
  return [
    { params: { lang: "en" } },
    { params: { lang: "uk" } },
  ];
};

import Layout from "@/src/layouts/Layout.astro";
import { useI18n } from "@ariaskit/astro-i18n";
import { type LocaleSchema } from "@/src/types";
import Header from "@/src/components/Header.astro";
import Hero from "@/src/components/Hero.astro";
import Experience from "@/src/components/Experience.astro";
import Footer from "@/src/components/Footer.astro";
import Skills from "@/src/components/Skills.astro";

const { t, locale } = useI18n<LocaleSchema>({
  ssg: {
    astro: Astro,
  },
});

const nav = [
  { path: `/`, text: t("nav.about") },
  { path: `#${t("nav.experience")}`, text: t("nav.experience") },
  { path: `#${t("nav.contact")}`, text: t("nav.contact") },
];

const heroProps = {
  name: { key: "hero.name",  value: t("hero.name") },
  title: { key: "hero.title", value: t("hero.title") },
  p1: { key: "hero.p1", value: t("hero.p1") },
  p2: { key: "hero.p2", value: t("hero.p2") },
  p3: { key: "hero.p3", value: t("hero.p3") },
};


const jobs = Array.from({ length: 11 }, (_, i) => {
  const key = `experience.item_${i + 1}`;

  return {
    period: {
      key: `${key}.period`,
      value: t(`${key}.period`),
    },
    role: {
      key: `${key}.role`,
      value: t(`${key}.role`),
    },
    company: {
      key: `${key}.company`,
      value: t(`${key}.company`),
    },
    description: {
      key: `${key}.description`,
      value: t(`${key}.description`),
    },
  };
});

const experienceData = {
  title: {
    key: "experience.title",
    value: t("experience.title"),
  },
  jobs
};

const alternate = [
  { href: "/en", hreflang: "en" },
  { href: "/uk", hreflang: "uk" }
];

const footerContent = {
  id: t("nav.contact").toLowerCase(),
  status: {
    key: "contact.status",
    value: t("contact.status"),
  },
  email_label: {
    key: "contact.email_label",
    value: t("contact.email_label"),
  },
  email_url: {
    key: "contact.email_url",
    value: t("contact.email_url"),
  },
  github_label: {
    key: "contact.github_label",
    value: t("contact.github_label"),
  },
  github_url: {
    key: "contact.github_url",
    value: t("contact.github_url"),
  },
  linkedin_label: {
    key: "contact.linkedin_label",
    value: t("contact.linkedin_label"),
  },
  linkedin_url: {
    key: "contact.linkedin_url",
    value: t("contact.linkedin_url"),
  },
};


const skills = Array.from({ length: 11 }, (_, i) => {
  const key = `skills.item_${i + 1}`;
  return {
    title: { key: `${key}.title`, value: t(`${key}.title`) },
    category: { key: `${key}.category`, value: t(`${key}.category`) },
    description: { key: `${key}.description`, value: t(`${key}.description`) },
    experience_years: { key: `${key}.experience_years`, value: t(`${key}.experience_years`) },
    experience_label: { key: `${key}.experience_label`, value: t(`${key}.experience_label`) },
  };
});


---

<Layout
  locale={locale}
  title="Ihor Kurinnyi"
  description={t("description")}
  alternateLinks={alternate}
>
  <Header nav={nav} locales={["en", "uk"]} currentLocale={locale} />

  <main>
    <Hero {...heroProps} />
    <Experience {...experienceData} />
    <Skills heading={{key: "skills.heading", value: t("skills.heading")}} content={skills} />
  </main>

  <Footer {...footerContent} />
</Layout>
